.type {
  font-size: 10px;
  text-transform: uppercase;
  display: inline-block;
  padding: 3px 6px 2px;
  letter-spacing: 1.2px;
  margin: 0;
  margin-right: 6px;
  margin-top: 2px !important;
  margin-bottom: 6px;
}
