@import "../../styles/colors-def.scss";
@import "../../styles/variables.scss";
$tag-margin: 0.25rem;
$margin: 1.5rem;

.icon {
  width: 1rem !important;
  height: 1rem;
  padding-left: 0.25rem;
  margin-top: -4px;
  margin-bottom: -2px;
}

.tag {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: $tag-margin;
  margin-bottom: $tag-margin;
  @include border;
}

.tags {
  margin-left: -$tag-margin;
}
