@import "../../styles/variables.scss";

.holder {
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.textholder {
  padding: 2rem 1.5rem;
  @media (min-width: 599px) {
    flex-direction: column;
    align-self: center;
    width: 35%;
    padding: 0 2rem;
    min-width: 320px;
  }
}

.imageholder {
  @media (min-width: 599px) {
    position: relative;
    height: 400px;
    width: 65%;
    min-width: 200px;
  }
}

.border {
  @media (min-width: 599px) {
    border-top: 400px solid transparent;
    border-left: 120px solid black;
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.image {
  @include full-image;
  @media (max-width: 600px) {
    height: 220px;
  }
}
