@import "../../styles/variables.scss";

.filterText {
  margin: 0;
  margin-top: 4px;
  text-align: "right";
  letter-spacing: $letter-spacing-s;
  display: flex;
  @media (max-width: 1200px) {
    font-size: 14px;
    max-width: 300px;
  }
  [role="button"] {
    font-size: 12px;
    padding: 3px 5px 2px;
    margin-left: 6px;
  }
  @media (max-width: 900px) {
    position: fixed;
    z-index: 3;
    top: 48px;
    right: 1.5rem;
  }
  @media (max-width: 800px) {
    font-size: 12px;
    max-width: 100%;
    top: 54px;
  }
}

.resultCount {
  margin-left: 6px;
}
