@import '../../styles/colors-def.scss';

.tags {
  margin: 28px;
}

.icon {
  width: 12px;
  padding-left: 12px;
  margin-top: -4px;
  margin-bottom: -2px;
}

.tag {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 4px;
  margin-bottom: 4px;
  border: 2px solid $purple;
}
