.form {
  max-width: 500px;
  margin: auto;
  margin-top: 60px;
}

.helper {
  margin-top: 0;
  font-size: 0.75rem;
}

.icon {
  width: 1rem;
  margin-right: 0.5rem;
}

.submit:disabled {
  cursor: not-allowed;
  pointer-events: none;
}
