@import "../../styles/colors-def.scss";
@import "../../styles/variables.scss";

.icon {
  width: 12px;
  margin-left: 8px;
  @media (max-width: 400px) {
    width: 10px;
    margin-left: 6px;
  }
}

.searchQuery {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 14px;
  letter-spacing: $letter-spacing-m;
  border-radius: 3px;
  @include tag-padding;
  &:hover {
    background-color: $purple;
    color: white;
    transition-duration: 350ms;
  }
  @media (max-width: 400px) {
    margin-right: 3px;
    margin-bottom: 3px;
    font-size: 11px;
    letter-spacing: $letter-spacing-s;
    border-radius: 3px;
  }
}
