@import '../../styles/colors-def.scss';

.icon {
  width: 28px;
  padding-left: 12px;
}

.searchQuery {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: white;
  margin-right: 4px;
  margin-bottom: 4px;
  &:hover {
    background-color: $purple;
    color: white;
    transition-duration: 350ms;
  }
}
