@import '../../styles/colors-def.scss';

.card {
  margin: 8px;
  padding: 20px;
  min-width: 200px;
  max-width: 300px;
  position: relative;
  flex: 1;
  border-radius: 16px;
  h5 {
    margin: 0;
    font-size: 12px;
  }
  .link {
    text-decoration: underline;
  }
  a {
    color: inherit;
  }
}
.image {
  text-align: center;
  margin: -20px;
  position: relative;
  height: 160px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  opacity: 1;
  overflow: hidden;
}
.special {
  margin-bottom: 8px !important;
  margin-top: 8px !important;
}
.type {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: -6px;
  padding: 3px 6px 2px;
  border-radius: 6px;
  display: inline-block;
  z-index: 6;
  position: relative;
}
