@import "../../styles/colors-def.scss";
@import "../../styles/variables.scss";

$card-border: 6px;

.container {
  align-items: unset;
  margin: -$card-border;
}

.link {
  text-decoration: underline;
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  a {
    color: white;
  }
  margin: $card-border;
  padding: 1.25rem;
  min-width: 12.5rem;
  max-width: 20rem;
  position: relative;
  flex: 1;

  @include border;
  border-radius: 1rem;
  @media (max-width: 700px) {
    padding: 1rem;
  }
  h5 {
    margin: 0;
    font-size: 12px;
    @media (max-width: 400px) {
      font-size: 11px;
    }
  }
}
.image {
  text-align: center;
  margin: -1.25rem;
  position: relative;
  height: 10rem;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  overflow: hidden;
  @media (max-width: 700px) {
    margin: -1rem;
  }
}
.special {
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;
}
.type {
  @include type;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-left: -6px;
  position: relative;
  @media (max-width: 700px) {
    margin-left: -2px;
  }
}

.description {
  margin-top: 12px !important;
}
