@import "../../styles/colors-def.scss";

$card-border: 6px;

.container {
  align-items: unset;
  margin: -$card-border;
}

.link {
  text-decoration: underline;
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  a {
    color: white;
  }
  margin: $card-border;
  padding: 1.25rem;
  min-width: 12.5rem;
  max-width: 20rem;
  position: relative;
  flex: 1;
  border-radius: 1rem;
  h5 {
    margin: 0;
    font-size: 0.75rem;
  }
}
.image {
  text-align: center;
  margin: -1.25rem;
  position: relative;
  height: 10rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  opacity: 1;
  overflow: hidden;
}
.special {
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;
}
.type {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-left: -6px;
  padding: 3px 6px 2px;
  border-radius: 6px;
  display: inline-block;
  position: relative;
}
