@import "../../styles/colors-def.scss";

$line-margin: 6px;
$line-thickness: 4px;

.hamburger {
  cursor: pointer;
  margin-right: -$line-margin;
  transition-duration: 350ms;
  &:hover .line {
    background-color: $purple;
  }
  @media (min-width: 700px) {
    display: none;
  }
  &.open {
    .line:first-of-type {
      rotate: 45deg;
    }
    .line:nth-child(2) {
      display: none;
    }
    .line:last-of-type {
      rotate: -45deg;
      margin-top: -10px;
    }
  }
}

.line {
  background-color: $purple;
  width: 36px;
  height: $line-thickness;
  margin: $line-margin;
  transition: 350ms ease-in;
  @media (max-width: 400px) {
    width: 24px;
    height: 3px;
    margin: 4px;
    border-radius: 4px;
  }
}
