@import "../../styles/colors-def.scss";

.iconcontainer {
  align-items: center;
  display: flex;
}

.icon {
  width: 1rem;
  min-width: 1rem;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
  margin-right: 0.5rem;
  @media (max-width: 400px) {
    width: 0.75rem;
    min-width: 0.75rem;
  }
}

.link {
  text-decoration: underline;
  cursor: pointer;
}
