.skipNav {
  position: absolute;
  transform: translateY(-120%);
  padding: 16px 20px;
  transition: 350ms ease-in;

  font-weight: 500;
  font-size: 18px;
  &:focus {
    transform: translateY(0);
  }
}
