.footer {
  display: flex;
  //align-content: space-between;
  justify-content: space-between;
}
.column {
  max-width: 300px;
  min-width: 300px;
  padding-right: 120px;
}

.icon {
  width: 16px;
  color: purple;
}
