.open {
  min-height: calc(100vh - 4rem);
  background-color: blueviolet;
  padding: 2rem;
  transition: 350ms ease-in;
  display: block;
  flex-direction: column;
  z-index: 4;
}

.footer {
  display: flex;
  //flex-direction: row;
  align-content: space-between;
}
