@import "../../styles/colors-def.scss";

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.column {
  max-width: calc(33.3% - 60px);
  min-width: calc(33.3% - 60px);
  padding-right: 60px;
  &:first-of-type,
  &:nth-of-type(4) {
    max-width: calc(33.3% - 60px);
    min-width: calc(33.3% - 60px);
    @media (max-width: 600px) {
      max-width: 100%;
      min-width: 100%;
    }
  }
  p {
    max-width: 600px;
  }
  @media (max-width: 600px) {
    max-width: 100%;
    min-width: 100%;
  }
  a {
    text-decoration: underline;
    color: $blue;
  }
}

.line {
  margin: 0;
}
.highlighted {
  margin-top: 1.5rem;
  color: $blue;
}

.icon {
  width: 1.25rem;
  margin-right: 0.75rem;
}
.image {
  max-width: 240px;
  max-height: 80px;
  object-fit: contain;
  margin-top: 24px;
}
