@import '../../styles/colors-def.scss';

.open {
  min-height: calc(100vh - 4rem);
  background-color: $purple;
  padding: 2rem;
  transition: 350ms ease-in;
  display: block;
  flex-direction: column;
  z-index: 4;
}

.footer {
  display: flex;
  align-content: space-between;
}
