$icon-size: 1.5rem;
$enlarged-icon-size: 3rem;
$extra-margin: ($enlarged-icon-size - $icon-size) / 2;

.mapwhole {
  button {
    margin: 0;
  }
}

.point {
  height: $icon-size;
  width: $icon-size;
  border-radius: 50%;

  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition-duration: 150ms;

  &.pointed {
    height: $enlarged-icon-size;
    width: $enlarged-icon-size;
    margin: -$extra-margin;
    overflow: visible;
    padding: $extra-margin;
    .icon {
      margin: 0;
      width: $icon-size;
      height: $icon-size;
    }
  }

  .icon {
    filter: brightness(0);
    object-fit: contain;
    width: 1rem;
    height: 1rem;
    object-position: center;
    margin: 0.25rem;
  }
}

.title {
  min-width: 10rem;
  opacity: 0;
  background-color: white;
  border-radius: 0.25rem;

  &:before {
    content: "";
    position: absolute;
    right: 100%;
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-right: 0.75rem solid white;
    border-bottom: 0.5rem solid transparent;
  }
  &.opened {
    font-size: 0.9rem;
    transition-duration: 150ms;
    padding: 0.75rem;
    margin-left: 2rem;
    width: auto;
    opacity: 1;
    line-height: 1;
    position: relative;
    span {
      opacity: 0.6;
      font-size: 0.75rem;
    }
  }
}

.textContainer {
  position: absolute;
  z-index: 1;
  height: 500px;
  display: flex;
  right: 0;
  align-items: center;
}

.mainTitle {
  color: black;
  text-transform: lowercase;
  background-color: white;
  padding: 1.5rem;
  max-width: 500px;
  border-radius: 8px;

  text-align: right;
  font-size: 28px;
  letter-spacing: 0.2px;
  line-height: 1.2;
}
