.mapCanvas {
  position: relative;
  margin: auto;
}
.map {
  max-height: calc(100vh - 80px);
  max-width: 100%;
  //width: 100vw;
  object-fit: contain;
  object-position: center;
}
.point {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    z-index: 3;
    transition-duration: 150ms;
  }
  .icon {
    filter: brightness(0) invert(1);
    object-fit: contain;
    width: 1rem;
    height: 1rem;
    padding: 0.5rem;
  }
}
.mapwhole {
  button {
    margin: 0;
  }
}
.title {
  width: 0;
  opacity: 0;
  &.opened {
    font-size: 0.9rem;
    transition-duration: 150ms;
    padding: 8px;
    margin-left: 3px;
    width: auto;
    opacity: 1;
    z-index: 3;
    line-height: 1;
    span {
      opacity: 0.6;
      font-size: 0.75rem;
    }
  }
}
