.mapCanvas {
  position: relative;
  margin: auto;
}
.map {
  max-height: calc(100vh - 80px);
  max-width: 100%;
  //width: 100vw;
  object-fit: contain;
  object-position: center;
}
.point {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  //  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  //  z-index: 2;
  &.pointed {
    height: 2rem;
    width: 2rem;
    margin: -0.5rem;
    overflow: visible;
  }
  cursor: pointer;
  transition-duration: 150ms;
  // .icon {
  //   filter: brightness(0) invert(1);
  //   object-fit: contain;
  //   width: 2rem;
  //   height: 1rem;
  // }
}
.mapwhole {
  button {
    margin: 0;
  }
}
.title {
  min-width: 100px;
  opacity: 0;
  background-color: black;
  border-radius: 4px;
  //z-index: 2;
  &:before {
    content: '';
    position: absolute;
    right: 100%;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 12px solid black;
    border-bottom: 8px solid transparent;
  }
  &.opened {
    font-size: 0.9rem;
    transition-duration: 150ms;
    padding: 12px;
    margin-left: 2.5rem;
    width: auto;
    opacity: 1;
    line-height: 1;
    position: relative;
    span {
      opacity: 0.6;
      font-size: 0.75rem;
    }
  }
}
