.searchContainer {
  justify-content: space-between;
  align-items: center;
  @media (max-width: 700px) {
    flex-direction: column;
    margin-bottom: 24px;
  }
}
.mainText {
  max-width: 600px;
  text-transform: lowercase;
  margin: auto;
}
.topMenu {
  margin-top: -96px;
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: black;
  margin-bottom: 0;
  padding-bottom: 0;
}
