@import "../../styles/colors-def.scss";

.absolute {
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 12px;
  width: calc(100% - 80px);
}
.search {
  //border: none;
  background-color: transparent;
  box-shadow: none;
  color: white;
  border-radius: 0;
  padding: 0;
  font-size: 14px;
  align-items: center;
  //border-bottom: 2px solid white;
  max-width: 100%;
  width: 200px;
  min-width: 280px;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 4px 10px;
  padding-left: 24px;
  margin: 0;
  position: relative;

  &:hover {
    background-color: $purple;
    transition-duration: 350ms;
    background-image: linear-gradient(
      to top right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.9)
    );

    border-color: $purple;
    color: white;
  }
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
}

.icon {
  width: 1.25rem;
  padding-left: 0.5rem;
  position: absolute;
  z-index: 4;
}

.container {
  margin-left: 1rem;
}
