.image {
  background-size: cover;
  background-position: center;
  padding: 32px;
  color: white;
  position: relative;
  height: 400px;
  &.full {
    height: calc(100vh - 200px);
  }
}

.textContainer {
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 2;
  position: relative;
}

.blackOverlay {
  background-color: black;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
