$card-margin: 0.25rem;

.card {
  margin: $card-margin;
  padding: 0.75rem;
  transition-duration: 350ms;
  cursor: pointer;
  min-width: 11.25rem;
  max-width: 15rem;
  flex: 1;
  width: 7.5rem;
  border-radius: 0.5rem;
  border: 3px solid black;
}
.container {
  align-items: unset;
  margin: 0 -$card-margin;
  @media (min-width: 900px) {
    margin: 0 -7.5rem;
  }
}
.title {
  margin: 0.25rem 0;
}
.text {
  font-size: 0.75rem;
}
