@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.star {
  animation: rotating 4s infinite;
}

.stars-divider {
  margin: 24px auto;
}
