$tag-margin: 0.25rem;
$margin: 1.5rem;
$max-width: 1000px;

.tags {
  max-width: $max-width;
  margin: $margin - $tag-margin auto;
  // .bg-chosen {
  //   color: $blue;
  //   background-color: transparent;
  // }
}

.type {
  //color: white;
  display: inline-block;
  font-size: 12px;
  margin: $tag-margin;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.4px;
  padding: 7px 8px 5px 8px;
  border-radius: 4px;
  //background-color: $purple;
  &:hover {
    //background-color: $turqoise;
    transition-duration: 350ms;
    cursor: pointer;
  }
}

button {
  background-color: black;
  padding: 0.75rem 1.5rem;
  padding-bottom: 10px;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  &:hover {
    color: black;
    background: transparent;
    transition-duration: 350ms;
  }
}

button,
input,
textarea {
  font-size: 0.75rem;
  border: 2px solid black;
  border-radius: 0.5rem;
}

input,
textarea {
  background-color: white;
  padding: 0.75rem 1.25rem;
  font-family: "Violet Sans";
  width: 100%;
  max-width: 100%;
  letter-spacing: 1px;
  color: black;
  outline: none;
  text-transform: none;
  font-size: 1rem;
  font-weight: 900;
  transition-duration: 350ms;
  &:hover {
    background-color: lightgray;
    color: $purple;
  }
}
textarea {
  padding: 1.25rem;
  min-height: 7.5rem;
}

.bg-black {
  button {
    background-color: transparent;
    border-color: white;
    &:hover {
      background-color: white;
    }
  }
}
