@import "./variables.scss";

$formitempadding: 0.75rem;

button {
  background-color: black;
  padding: 0.75rem 1.25rem;
  border-style: solid;
  letter-spacing: $letter-spacing-l;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  font-size: 14px;
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  &:hover {
    color: black;
    background: transparent;
    transition-duration: 350ms;
  }
  @media (max-width: 400px) {
    font-size: 10px;
    padding: 6px 12px 5px;
    margin: 2px;
  }
}

button,
select,
input,
textarea {
  border-color: black;
  @include border;
}

select {
  font-family: "Violet Sans";
  padding: 0.25rem 0.5rem;
  letter-spacing: 1.2px;
}

input,
textarea {
  background-color: white;
  padding: $formitempadding;
  font-family: "Violet Sans";
  width: 100%;
  max-width: 100%;
  letter-spacing: 1.2px;
  color: black;
  outline: none;
  text-transform: none;
  font-size: 14px;
  transition-duration: 350ms;

  &:hover {
    background-color: lightgray;
    color: $purple;
  }
  @media (max-width: 400px) {
    font-size: 11px;
  }
}
textarea {
  padding: 1rem;
  min-height: 7.5rem;
}

.bg-black {
  button {
    background-color: transparent;
    border-color: white;
    &:hover {
      background-color: white;
    }
  }
}
