.card {
  margin: 8px;
  padding: 24px;
  text-align: left;
  //width: 280px;
  text-decoration: none;
  //border: 12px solid transparent;
  //text-align: center;
  min-width: 200px;
  max-width: 300px;
  //height: 400px;
  //transition: color 0.15s ease, border-color 0.15s ease;
  display: flex;
  flex-direction: column;
  //align-items: center;
  // justify-content: center;
  flex: 1;
  p,
  h4,
  h5 {
    margin: 8px 0;
  }

  h4 {
    margin-top: 48px;
  }
  h5 {
    margin: 0;
    font-size: 12px;
  }

  &.small {
    margin: 8px;
    height: auto;
    padding: 16px 8px 12px 8px;
    max-width: 300px;
    text-align: center;
    display: flex;
    border: none;
    flex-direction: column;
    justify-content: center;
    p {
      color: white;
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 0.6px;
    }
  }
}
