$gray: #f4f4f4;
$yellow: #ffc200;
$pink: #b222bd;
$salmon: #f87a7a;
$lightblue: #56b2d6;
$blue: #137ced;
$darkblue: #00067a;
$turqoise: #03a5ab;
$green: #03521f;
$purple: #4f18d9;
$purplelight: #9c46f2;
$lightpink: #e6a2ed;
$black: black;
