@import './colors-def.scss';

$colors: (
  'lightgray': $lightgray,
  'gray': $gray,
  'darkblue': $darkblue,
  'blue': $blue,
  'lightblue': $lightblue,
  'turqoise': $turqoise,
  'green': $green,
  'greenlight': $greenlight,
  'yellowgreen': $yellowgreen,
  'yellow': $yellow,
  'orange': $orange,
  'salmon': $salmon,
  'red': $red,
  'pink': $pink,
  'pinkdark': $pinkdark,
  'purple': $purple,
  'purpledark': $purpledark,
  'black': $black,
);

// $colours: $lightgray, $gray, $yellow, $pink, $salmon, $lightblue, $blue,
//   $darkblue, $turqoise, $green, $purple, $purplelight, $lightpink, $black;

// @for $i from 1 through length($colours) {
//   #cp#{$i} {
//     background-color: rgba(nth($colors, $i), 0.6);
//   }
// }

@function color($color-name) {
  @return var(--color-#{$color-name});
}

@each $name, $value in $colors {
  .#{$name} {
    color: $value;
  }
}

@each $name, $value in $colors {
  .bg-#{$name} {
    background-color: $value;
    //background-image: url('https://www.transparenttextures.com/patterns/concrete-wall-2.png');
  }
}

@each $name, $value in $colors {
  .border-#{$name} {
    border-color: $value !important;
    border: 2px solid $value !important;
  }
}

.bg-black,
.bg-blue,
.bg-purple,
.bg-darkblue,
.bg-pinkdark,
.bg-turqoise {
  color: white;
}

.bg-yellow,
.bg-gray,
.bg-white {
  color: black;
}

.filter-white {
  filter: invert(100%);
}

.filter-pink {
  filter: invert(42%) sepia(14%) saturate(7471%) hue-rotate(333deg)
    brightness(104%) contrast(102%);
}

.filter-yellow {
  filter: invert(70%) sepia(90%) saturate(1002%) hue-rotate(358deg)
    brightness(101%) contrast(105%);
}

.filter-salmon {
  filter: invert(69%) sepia(57%) saturate(1199%) hue-rotate(308deg)
    brightness(95%) contrast(104%);
}

.filter-purple {
  filter: invert(16%) sepia(88%) saturate(5991%) hue-rotate(260deg)
    brightness(97%) contrast(105%);
}

.filter-blue {
  filter: invert(69%) sepia(73%) saturate(7498%) hue-rotate(197deg)
    brightness(95%) contrast(94%);
}

.bg-blue-gradient {
  background-image: linear-gradient(135deg, $blue, $purple);
  color: white;
}

.bg-blue-yellow-gradient {
  background-image: linear-gradient(135deg, $yellow, $purple);
  color: white;
}

.bg-darkblue .colored {
  color: $pink;
}
.bg-purple .colored {
  color: $pink;
}
.bg-turqoise .colored {
  color: $purple;
}
.bg-pink .colored {
  color: $lightblue;
}
.bg-lightpink .colored {
  color: $pink;
}
.bg-red .colored {
  color: $blue;
}
.bg-lightblue .colored {
  color: $darkblue;
}
.bg-blue .colored {
  color: $salmon;
}
.bg-salmon .colored {
  color: $blue;
}

.bg-darkblue .bg-colored {
  background-color: $pink;
}
.bg-purplelight .bg-colored {
  background-color: $pink;
}
.bg-turqoise .bg-colored {
  background-color: $purple;
}
.bg-pink .bg-colored {
  background-color: $lightblue;
}
.bg-lightpink .bg-colored {
  background-color: $pink;
}
.bg-red .bg-colored {
  background-color: $blue;
}
.bg-lightblue .bg-colored {
  background-color: $darkblue;
  color: white;
}
.bg-blue .bg-colored {
  background-color: $salmon;
}
.bg-salmon .bg-colored {
  background-color: $blue;
}
