$lightgray: #f4f4f4;
$gray: #a7a7a7;
$darkblue: #322783;
$blue: #c9ceeb;
$lightblue: #35aae1;
$turqoise: #00a19c;
$green: #e8450f;
$greenlight: #6aebce;
$yellowgreen: #e2eb40;
$yellow: #ffd201;
$orange: #eb8221;
$salmon: #ffe0d2;
$red: #eb1e57;
$pink: #e6a2ed;
$pinkdark: #35aae1;
$purple: #35aae1;
$purpledark: #4f18d9;
$black: black;
