$lightgray: #f4f4f4;
$gray: #a7a7a7;
$darkblue: #00067a;
$blue: #137ced;
$lightblue: #56b2d6;
$turqoise: #03a5ab;
$green: #03521f;
$greenlight: #6aebce;
$yellowgreen: #e2eb40;
$yellow: #ffc200;
$orange: #eb8221;
$salmon: #f87a7a;
$red: #eb1e57;
$pink: #e6a2ed;
$pinkdark: #b222bd;
$purple: #9c46f2;
$purpledark: #4f18d9;
$black: black;

// $colors: (
//   $lightgray: #f4f4f4,
//   $gray: #a7a7a7,
//   $yellow: #ffc200,
//   $pink: #b222bd,
//   $salmon: #f87a7a,
//$lightblue: #56b2d6;
//   $lightblue: #56b2d6,
//   $blue: #137ced,
//   $darkblue: #00067a,
//   $turqoise: #03a5ab,
//   $green: #03521f,
//   $purple: #4f18d9,
//   $purplelight: #9c46f2,
//   $lightpink: #e6a2ed,
//   $black: black,
// );
