@font-face {
  font-family: "Violet Sans";
  src: url("/fonts/violet-sans/OTF/VioletSans-Regular.otf");
}

@font-face {
  font-family: "violet_sansregular";
  src: url("/fonts/violetsans-regular-webfont.woff2") format("woff2"),
    url("/fonts/violetsans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Violet Sans", "violet_sansregular", -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
}

::selection {
  background: $purple; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $purple; /* Gecko Browsers */
}

b {
  letter-spacing: $letter-spacing-s;
}

i,
em {
  color: $pink;
}

p {
  line-height: 1.6;
  @media (max-width: 400px) {
    margin-top: 0.75rem;
    font-size: 11px;
  }
  &.large {
    font-size: 1.25rem;
    @media (max-width: 700px) {
      font-size: 1rem;
    }
  }
}

p,
h1,
h2,
h3,
h4,
h5,
input,
button {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.4;
  @media (max-width: 700px) {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
  @media (max-width: 400px) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

button {
  @media (max-width: 700px) {
    margin-bottom: 0rem;
  }
}

li {
  list-style: none;
  position: relative;
  @media (max-width: 1200px) {
    font-size: 1.125rem;
  }
  @media (max-width: 700px) {
    font-size: 1rem;
  }
  @media (max-width: 400px) {
    font-size: 0.75rem;
  }
}

h1 {
  line-height: 1.2;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: "violet_sansregular";
  @media (max-width: 700px) {
    font-size: 2rem;
    letter-spacing: $letter-spacing-m;
  }
  @media (max-width: 400px) {
    margin-top: 1.25rem;
    font-size: 1.5rem;
  }
}

h2 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 2.25rem;
  line-height: 1.2;
  @media (max-width: 700px) {
    font-size: 1.75rem;
  }
  @media (max-width: 400px) {
    margin-top: 1.5rem;
    font-size: 1.125rem;
  }
}

h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-l;
  @media (max-width: 700px) {
    font-size: 1rem;
    letter-spacing: $letter-spacing-m;
  }
}

h4 {
  font-size: 1.25rem;
  letter-spacing: $letter-spacing-m;
  @media (max-width: 700px) {
    font-size: 1rem;
  }
  @media (max-width: 400px) {
    margin-top: 0.875rem;
    font-size: 14px;
  }
}

h5 {
  font-size: 0.875rem;
  letter-spacing: $letter-spacing-s;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  @media (max-width: 400px) {
    margin-top: 0.875rem;
    font-size: 13px;
  }
}

h6 {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-m;
}

a {
  text-decoration: none;
  position: relative;
  color: $purple;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
