// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
// @import url('https://api.fontshare.com/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Roboto+Condensed:300,400,700|Roboto+Slab:100,300,400,700|Roboto:100,300,400,500,700,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Noto+Serif:wght@400;700&family=Quicksand:wght@300;500;600&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Bungee+Hairline&family=Bungee+Shade&family=Flamenco&family=Fredericka+the+Great&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Nixie+One&family=Noto+Serif:wght@400;700&family=Quicksand:wght@300;500;600&family=Readex+Pro:wght@200;300;400;500;600;700&family=Rock+3D&family=Shizuru&family=Underdog&display=swap');

@font-face {
  font-family: 'Brutalist';
  src: url('/fonts/BRUTALISM-Regular.otf');
}

@font-face {
  font-family: 'Violet Sans';
  src: url('/fonts/violet-sans/OTF/VioletSans-Regular.otf');
}

@font-face {
  font-family: 'brutalismregular';
  src: url('/fonts/brutalism-regular-webfont.woff2') format('woff2'),
    url('/fonts/brutalism-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'violet_sansregular';
  src: url('/fonts/violetsans-regular-webfont.woff2') format('woff2'),
    url('/fonts/violetsans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Violet Sans', 'violet_sansregular', -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  letter-spacing: 0.4px;
  font-weight: 500;
  font-size: 1rem;
}

::selection {
  background: $purplelight; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $purplelight; /* Gecko Browsers */
}

b {
  font-weight: 700;
}

i,
em {
  color: $pink;
}

p {
  line-height: 1.6;
}

button {
  //  font-family: 'brutalismregular';
}

.paragraph {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

p,
h1,
h2,
.h2,
h3,
h4,
h5,
input,
button {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.4;
  @media (max-width: 700px) {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
}

h5 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

p.large {
  font-size: 1.25rem;
  @media (max-width: 700px) {
    font-size: 1rem;
  }
}

li {
  list-style: none;
  line-height: 1.8;
  position: relative;
  @media (max-width: 700px) {
    font-size: 1.25rem;
  }
}

b {
  letter-spacing: 0.8px;
  font-weight: 600;
}

h1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 800;
  //font-family: 'Brutalist', 'brutalismregular', sans-serif;
  font-family: 'violet_sansregular';
  //font-family: 'brutalismregular';
  //  font-family: 'Violet Sans';
  // font-family: "Barriecito", cursive;
  // font-family: "Bungee Hairline", cursive;
  // font-family: "Bungee Shade", cursive;
  @media (max-width: 700px) {
    font-size: 2rem;
    letter-spacing: 1px;
  }
}

// font-family: 'Barriecito', cursive;
// font-family: 'Bungee Hairline', cursive;
// font-family: 'Bungee Shade', cursive;
// font-family: 'Fredericka the Great', cursive;
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Nixie One', cursive;
// font-family: 'Noto Serif', serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Readex Pro', sans-serif;
// font-family: 'Rock 3D', cursive;
// font-family: 'Shizuru', cursive;
// font-family: 'Underdog', cursive;

h2,
.h2 {
  letter-spacing: 3px;
  //font-family: 'brutalismregular';
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 400;
  @media (max-width: 700px) {
    font-size: 2rem;
  }
}

// h3 {
//   font-size: 24px;
//   font-weight: 600;
//   font-family: Roboto Slab;
// }

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  @media (max-width: 700px) {
    font-size: 1.25rem;
  }
}

h4 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 600;
  @media (max-width: 700px) {
    font-size: 1rem;
  }
}

h5 {
  font-size: 0.875rem;
  letter-spacing: 0.6px;
  font-weight: 500;
}

h6 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.underlined {
  text-decoration: underline;
}
.uppercase {
  text-transform: uppercase;
}
.bolded {
  font-weight: 600;
}

a {
  text-decoration: none;
  position: relative;
  font-weight: 300;
  color: $purplelight;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.animation:after,
a:after {
  bottom: 0;
  content: '';
  display: inline;
  height: 2px;
  position: absolute;
  background: $pink;
  transition: width 0.3s ease 0s, left 0.3s ease;
  width: 0;
  left: 0;
  cursor: pointer;
}

.a:hover:after {
  width: 100%;
  left: 0;
}

.divider {
  background-color: $pink;
  margin: 60px auto 60px;
  width: 60px;
  height: 4px;
}

.fully-covering-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right {
  text-align: right;
}
