@import "../../styles/colors-def.scss";
@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.nav {
  padding: 0 2rem;
  position: fixed;
  z-index: 2;
  height: 0vh;
  top: 0;
  width: 100%;
  z-index: 4;
  transition-duration: 350ms;
  @media (max-width: 700px) {
    padding: 0 1.5rem;
  }
  @media (max-width: 400px) {
    padding: 0 1rem;
  }
  .mobmenu {
    display: none;
  }
  &.open {
    background-color: purple;
    background-image: url(../../public/bgs/bg.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    transition-duration: 350ms;
    .desktop {
      flex-direction: column;
      li {
        margin: 0 24px;
      }
    }
    .mobmenu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: calc(100vh - 124px);
      .li {
        margin: 8px 0;
        font-size: 32px;
      }
    }
  }
}

.chosen {
  font-style: oblique;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 22;
  .li {
    font-size: 1rem;
    color: $darkblue;
    letter-spacing: $letter-spacing-s;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    &:hover {
      transition-duration: 350ms;
      color: $pink;
    }
    @media (max-width: 400px) {
      font-size: 14px;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
  .li {
    margin-left: 1rem;
  }
}

.logoText {
  line-height: 1.2;
  font-size: 12px;
  margin: 0;
  margin-bottom: -2.5px;
  letter-spacing: $letter-spacing-m;
  text-transform: uppercase;
  a {
    transition-duration: 350ms;
  }
}

.logo {
  color: $darkblue;
  width: 120px;
  height: 48px;
  display: flex;
  align-items: flex-end;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  @media (max-width: 600px) {
    max-width: 80px;
  }
  @media (max-width: 400px) {
    max-width: 80px;
  }

  img {
    //max-width: 42px;
    margin-right: 8px;
    height: 48px;
  }
}
.dark {
  @extend .bg-black;
  .logo {
    color: white;
  }
  img {
    filter: invert(1);
  }
  .li {
    color: $blue;
  }
  // .logoSearch {
  //   position: absolute;
  //   top: 1.25rem;
  // }
  // .menuItems {
  //   margin-left: auto;
  // }
}
