@import '../../styles/colors-def.scss';

.nav {
  position: fixed;
  top: 0;
  width: calc(100% - 4rem);
  z-index: 3;
  @media (max-width: 700px) {
    width: calc(100% - 3rem);
  }
  &.open {
    background-color: $purple;
    z-index: 4;
    height: 100vh;
  }
}
