.nav {
  position: fixed;
  top: 0;
  width: calc(100% - 4rem);
  z-index: 3;
  @media (max-width: 700px) {
    width: calc(100% - 3rem);
  }
  &.open {
    background-color: rgb(74, 24, 217);
    z-index: 4;
  }
}
