@import '../../styles/colors-def.scss';

.nav {
  padding: 0 2rem;
  position: fixed;
  z-index: 22;
  height: 0vh;
  top: 0;
  width: 100%;
  transition-duration: 350ms;
  @media (max-width: 700px) {
    padding: 0 1.5rem;
  }
  .mobmenu {
    display: none;
  }
  &.open {
    background-color: black;
    height: 100vh;
    transition-duration: 350ms;
    .desktop {
      flex-direction: column;
      li {
        margin: 0 24px;
      }
    }
    .mobmenu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: calc(100vh - 124px);
      .li {
        margin: 8px 0;
        font-size: 18px;
        font-weight: 900;
      }
    }
  }
  @media (max-width: 700px) {
  }
}

.chosen {
  font-style: oblique;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 22;
  .logo,
  .li {
    font-size: 1rem;
    margin: 20px 0;
    &:hover {
      transition-duration: 350ms;
      color: white;
    }
  }
  .li {
    margin-left: 1rem;
  }
}
