.text {
  p {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    white-space: pre-wrap;
  }
  h1 {
    line-height: 1.2;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  a {
    color: inherit;
  }
}

.credit {
  text-align: right;
  margin-right: 12px;
  z-index: 12px;
  position: relative;
  font-size: 12px;
  color: white;
  margin-top: -24px;
  font-style: italic;
}
